{% extends "login-layout.html" %}

{% block content %}
<div class="col-xs-12 col-md-4 col-md-offset-4">
    <h1 class="text-center text-white">Change Password</h1>
    <form id="changePassword" method="POST" action="/changePassword">
        {{ form.hidden_tag() }}
        <div class="text-center text-success">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}
        {% endwith %}
        <br>
        </div>
        <br>
        <div class="row">
            <div class="text-center text-white">
                {{ form.current_password.label() }}<br> 
                {{ form.current_password(placeholder="Current Password", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.current_password.errors[0] }}<br></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center text-white">
                {{ form.password.label() }}<br> 
                {{ form.password(placeholder="New Password", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.password.errors[0] }}<br></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center text-white">
                {{ form.confirm_password.label() }}<br> 
                {{ form.confirm_password(placeholder="Confirm Password", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.confirm_password.errors[0] }}<br></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <br>
                <input type="submit" id="btnChangePass" class="btn-success btn-lg" value="Change Password">
            </div>
        </div>
{% endblock %}