{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/styles.css">
{% endblock %}

{% block content %}
    <h1 class="text-center text-white">Forgot Password</h1> 
    <div class="col-xs-4 col-xs-offset-4">
        <form id="forgotPassword">
            <div class="row">
                <div class="text-center text-white">
                    <label for="Username">Username</label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username" required autofocus><br>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <input type="submit" id="btnLogin" class="btn-success btn-lg" value="Reset Password">
                </div>
            </div>
        </form>
    </div>
{% endblock %}