{% extends "layout.html" %}

{% block content %}
    <h1 class="text-center text-white">Forgot Password</h1>
    <p class="text-center text-white">Please enter the email address you registered with.</p>
    <div class="col-xs-12 col-md-offset-4 col-md-4">
        <form id="forgotPassword" method="POST" action="/forgotPassword">
        {{ form.hidden_tag() }}
            <div class="row">
                <div class="text-center text-white">
                    {{ form.email.label() }}<br> 
                    {{ form.email(placeholder="Email", class="form-control", autofocus=true) }}<br>
                    <div class="text-danger row">{{ form.email.errors[0] }}</div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <input type="submit" id="btnLogin" class="btn-success btn-lg" value="Reset Password">
                </div>
            </div>
            <div class="row">
                <div class="text-center text-white">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}