{% extends "login-layout.html" %}

{% block content %}
<div class="col-xs-12 col-md-12">
	<h1 class="text-center text-success">
	Welcome to GDOHS (Garage Door Opener and Home Surveillance)
	</h1>
	<h3 class="text-center text-white">
	If this is your first time logging into the web app, follow the steps below before proceeding:
	</h3>
	<div class="row">
		<h4 class="text-white text-left col-md-offset-2 col-xs-12">
		Step 1: Add a license plate located under your profile page
		<br><br>
		Step 2: Ensure that the "Force Lock" setting under your profile is set to your preference
		<br><br>
		Step 3 (Optional): You may change the camera settings via the settings page
		</h4>
	</div>
</div>
{% endblock %}