{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/styles.css">
{% endblock %}

{% block content %}
	<h1 class="text-center text-white">Login</h1>
    <div class="col-xs-4 col-xs-offset-4">
		<form id="login" method="POST" action="/login">
        {{ form.hidden_tag() }}
            <div class="row">
                {{ form.username.label(class_="text-white") }}<br> 
                {{ form.username(placeholder="Username", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.username.errors[0] }}<br></div>
            </div>
            <div class="row"> 
                {{ form.password.label(class_="text-white") }}
                <a href="showForgotPassword" class="col-xs-offset-6 text-lred">Forgot Password?</a><br>
                {{ form.password(placeholder="Password", class="form-control", autofocus=true) }}
                <div class="text-danger row">{{ form.password.errors[0] }}<br></div>
            </div>
            <div class="row">
                <div class="text-center">
                    <br>
                    <input type="submit" id="btnLogin" class="btn-success btn-lg" value="Login">
                </div>
            </div>
        </form>
    </div>

    <div class="text-center text-white">
        <p>______________________________________________________</br>New user?</p>
        <a href="/showSignup" class="btn btn-success btn-lg" role="button">New Account</a>
    </div>
{% endblock %}

