<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Garage Door Opener and Home Security</title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    {% endblock %}
</head>
    <body class="body">
        <nav class="navbar navbar-inverse" id="navbar">
        {% block navbar %}
            <ul class="nav navbar-nav">
                <li class="navbar-header">
                    <a class="navbar-brand" href="/video">
                        <img alt="brand" src="../static/images/gdohs-logo.png">
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/video" class="nav-link">Camera</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        {% endblock %}
        </nav>

        <div class="container" id="content">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>