{% extends "login-layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div class="col-xs-4 col-xs-offset-4 text-white">
    <h3>
    First Name:{{ fname }}<br><br>
    Last Name:{{ lname }}<br><br>
    Email:{{ email }}<br><br>
    </h3>
    <div>Click
    <a href="/showChangePassword">here</a>
    to change your password.
    </div>
    <br><br>
    <form id="addLicense" method="POST" action="addLicense">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="text-center text-white">
                {{ form.license.label() }}<br> 
                {{ form.license(placeholder="License Plate", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.license.errors[0] }}<br></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <br>
                <input type="submit" id="btnAddLicense" class="btn-success btn-lg" value="Add License Plate">
            </div>
        </div>
    </form>
</div>
{% endblock %}