{% extends "login-layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div class="col-xs-4 col-xs-offset-4">
    <h1 class="text-center text-white">Change Password</h1>
    <form id="signUp" method="POST" action="/signUp">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="text-center text-white">
                {{ form.current_password.label() }}<br> 
                {{ form.current_password(placeholder="Current Password", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.current_password.errors[0] }}<br></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center text-white">
                {{ form.password.label() }}<br> 
                {{ form.password(placeholder="New Password", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.password.errors[0] }}<br></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center text-white">
                {{ form.confirm_password.label() }}<br> 
                {{ form.confirm_password(placeholder="Confirm Password", class="form-control", autofocus=true) }}
                <div class="text-danger">{{ form.confirm_password.errors[0] }}<br></div>
            </div>
        </div>
{% endblock %}