{% extends "login-layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div class="col-xs-4 col-xs-offset-4">
	<h1 class="text-center text-white"> Record Videos</h1>
	<form id="recordvideos" method="POST" action="/startrecord">
	{{ form.hidden_tag() }}
	{{ form.start(class="btn-success") }} 
	</form>
	<form id="recordvideos" method="POST" action="/stoprecord">
	{{ form.hidden_tag() }}
	{{ form.stop(class="btn-success") }} 
	</form>
	<div class="row">
	    <div class="text-center text-white">
	        {% with messages = get_flashed_messages() %}
	          {% if messages %}
	            {% for message in messages %}
	              {{ message }}
	            {% endfor %}
	          {% endif %}
	        {% endwith %}
	    </div>
	</div>
</div>
{% endblock %}
