{% extends "login-layout.html" %}

{% block content %}
<div class="col-xs-12 col-md-12">
	<h1 class="text-center text-white">Record Videos</h1>
	<div class="col-xs-6 col-md-6 text-right">
	<form id="recordvideos" method="POST" action="/startrecord">
	{{ form.hidden_tag() }}
	{{ form.start(class="btn-success") }} 
	</form>
	</div>
	<div class="col-xs-6 col-md-6">
	<form id="recordvideos" method="POST" action="/stoprecord">
	{{ form.hidden_tag() }}
	{{ form.stop(class="btn-success") }} 
	</form>
	</div>
</div>
<br>
<div class="col-xs-12 col-md-12">
	<div class="row">
	    <h2 class="text-center text-white">
	        {% with messages = get_flashed_messages() %}
	          {% if messages %}
	            {% for message in messages %}
	              {{ message }}
	            {% endfor %}
	          {% endif %}
	        {% endwith %}
	    </h2>
	</div>
</div>
<br>
<div class="col-xs-12 col-md-12">
	<div class="row">
	    <p class="text-center text-white">
	    something here?
	    </p>
</div>
{% endblock %}
