{% extends "login-layout.html" %}

{% block content %}
	<div class="col-xs-12 col-md-4">
	    <h1 class="text-center text-white">Camera Settings</h1>
	    <form id="settings" method="POST" action="/settings">
	        {{ form.hidden_tag() }}
	        <div class="row">
		        <div class="text-center text-success">
			        {% with messages = get_flashed_messages() %}
			          {% if messages %}
			            {% for message in messages %}
			              {{ message }}
			            {% endfor %}
			          {% endif %}
			        {% endwith %}
			        <br>
			    </div>
	            <div class="text-center text-white">
	                {{ form.brightness.label() }}<br> 
	                {{ form.brightness(class="form-control") }}
	                <div class="text-danger">{{ form.brightness.errors[0] }}<br></div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="text-center">
	                {{ form.resolution.label(class="text-white") }}<wbr>
	                {{ form.resolution() }}
	                <div class="text-danger">{{ form.resolution.errors[0] }}<br></div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="text-center text-white">
	                {{ form.hflip.label() }}<wbr><wbr>
	                {{ form.hflip() }}
	                <div class="text-danger">{{ form.hflip.errors[0] }}<br></div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="text-center text-white">
	                {{ form.vflip.label() }}<wbr><wbr>
	                {{ form.vflip() }}
	                <div class="text-danger">{{ form.vflip.errors[0] }}<br></div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="text-center">
	                <br>
	                <input type="submit" id="btnSettings" class="btn-success btn-lg" value="Save">
	            </div>
	        </div>
	    </form>
	</div>
	<div class="col-xs-12 col-md-4">
		<h1 class="text-white text-center">Settings Explanations</h1>
		<div class="row">
		    <div class="text-center text-white">
		    <br>
		    The brightness of the camera can be changed betwee 0 and 100. The default value for the brightness is 50, which is what 
		    it usually uses for indoor/outdoor usage. However you may want to change it depending on your preference.
		    </div>
		</div>
		<br>
		<div class="row">
		    <div class="text-center text-white">
		    The default resolution for the camera is 640 x 480. This is the best resolution for using the camera when recording with the application. However you may still choose the other resolution but it may cause some problems. Please use caution when choosing a different resolution. Note that this option only affects the recording of videos and not the livestream.
		    </div>
		</div>
		<br>
		<div class="row">
		    <div class="text-center text-white">
		    Marking the horizontal flip will flip the camera horizontally. This is in place in case the camera may be placed in a spot that requires to be horizontally flipped.
		    </div>
		</div>
		<br>
		<div class="row">
		    <div class="text-center text-white">
		    Marking the vertical flip will flip the camera vertically. This is in place in case the camera may be placed in a spot that requires to be vertically flipped.
		    </div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<h1 class="text-white text-center">Current Camera Settings</h1>
		<div class="text-white">
		Brightness: {{ brightness }}<br>
		Resolution: {{ resolution }}<br>
		Horizontal Flip: {{ hflip }}<br>
		Vertical Flip: {{ vflip }}
		</div>
	</div>
{% endblock %}