{% extends "layout.html" %}

{% block content %}
    <div class="col-xs-12 col-md-offset-4 col-md-4">
        <h1 class="text-center text-white">Sign Up</h1>
        <form id="signUp" method="POST" action="/signUp">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="text-center text-white">
                    {{ form.username.label() }}<br> 
                    {{ form.username(placeholder="Username", class="form-control", autofocus=true) }}
                    <div class="text-danger">{{ form.username.errors[0] }}<br></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center text-white">
                    {{ form.password.label() }}<br> 
                    {{ form.password(placeholder="Password", class="form-control", autofocus=true) }}
                    <div class="text-danger row">{{ form.password.errors[0] }}<br></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center text-white">
                    {{ form.email.label() }}<br> 
                    {{ form.email(placeholder="Email", class="form-control") }}
                    <div class="text-danger row">{{ form.email.errors[0] }}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    <br></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center text-white">
                    {{ form.firstname.label() }}<br> 
                    {{ form.firstname(placeholder="First Name", class="form-control") }}
                    <div class="text-danger row">{{ form.firstname.errors[0] }}<br></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center text-white">
                    {{ form.lastname.label() }}<br> 
                    {{ form.lastname(placeholder="Last Name", class="form-control") }}
                    <div class="text-danger row">{{ form.lastname.errors[0] }}<br></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <br>
                    <input type="submit" id="btnSignUp" class="btn-success btn-lg" value="Create Account">
                </div>
            </div>
        </form>

    </div>

{% endblock %}