{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/styles.css">
{% endblock %}

{% block content %}
    <div class="col-xs-6 col-xs-offset-3">
		<h1 class="text-center text-white">Username already exist. Please try a different username.</h1>
		<div class="text-center">
			<a href="/showSignup" class="btn btn-success btn-lg" role="button">Sign Up</a>
		</div>
	</div>
{% endblock %}
